@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
  font-size: 12px;
  
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

:root {
  --color-primary: #0e65f2;
  --color-secondary: #051d49;
  --color-active: #f2bc35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  padding-bottom: 2em;
}

h1 {
  font-weight: 700;
}

ul {
  padding-left: 0;
  list-style: none;
}

